@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Orbitron&display=swap');

* {
    margin:0px;
    padding: 0px;
}

.portada{
    width: 99vw;
}

body {
    text-align: center;    

}